// generating a funtion for inserting node at index pos;
void insert(int x){
    int pos=4; // required index;
    struct node *t,*p; 
    p=new node; t=new node;  
    t->data=x;   
    p=first;     
    for(int i=0; i<pos-1; i++){
        p=p->next; 
    }
    t->next=p->next;  // Assinging 't' next from 'p' next;
    p->next=t;   // Changing 'p' next;
    
}
