// generating a funtion for inserting node at index pos;
void insert(int x){
    int pos=4; // required index;
    struct node *t,*p; 
    p=new node; t=new node;  
    t->data=x;   
    p=first;     
    for(int i=0; i<pos-1; i++){
        p=p->next; 
    }
    t->next=p->next;  // Assinging 't' next from 'p' next;
    p->next=t;   // Changing 'p' next;
    
}


//****** inserting node at last*********
 void insertlast(int x){
    struct node *t;
    t=new node;
    t->data=x;
    t->next=0;
    if(first==0){
        first=last=t; // if there is no node initially;
    }
    else{
     last->next=t;  // if node is there then code;
     last=t; 
 }
}
